table{
  font-family: sans-serif;
}
th {
  font-size: 12mm;
  text-align: left;
}
td {
  border-top: solid 1mm black;
  vertical-align: top;
}
td.last {
  border-bottom: solid 1mm black;
}
td.l{
  font-size: 6mm;
}
td.r{
  font-size: 16mm;
  font-weight: bold;
  padding-top: 13mm;
}
td.notes {
  border-top: none;
  border-bottom: solid 0.5mm black;
  height: 10mm;
  width: 19cm;
}
.l{
  width: 15cm;
}
.r{
  text-align: right;
  width: 4cm;
}
